*.o
*.os
*.a
*.so
*.so.*
*.dylib
*.swp
*.suo
*.user
*~
.sconsign*
*.pyc
._*
.cproject
.project
src/mythcat
src/mythfuse
src/mythlive
src/mythping
.sconf_temp
config.log
cscope.files
cscope.in.out
cscope.out
cscope.po.out
doc/all
doc/api
doc/man
cmyth.conf
xcode/build
install
win32/Debug
librefmem/version.h
libcmyth/version.h
