*.o
*.os
*.a
*.so
*.so.*
*.dylib
*~
.sconsign*
*.pyc
src/mythcat
src/mythfuse
src/mythping
.sconf_temp
config.log
cscope.files
cscope.in.out
cscope.out
cscope.po.out
doc
cmyth.conf
xcode/build
install
